/* main content style for about */
.hero-sec {
  margin-top: 80px;
  z-index: -1;
}
.container {
  margin: 50px 200px;
}
.box,
.box1 {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.abttxt {
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 40px;
}
.abttxt1 {
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 40px 40px 0px 0px;
}

/* main content style for about ends */
.about:not(.nav a:hover) {
  border-bottom: 5px solid #695cfe;
}
