
/* main content */
.details-head {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--body-text-color);
  border: 5px double#3f3a81;
  margin: 150px 600px 60px 600px;
}
.container {
  width: 500px;
  height: 410px;
  background-color: white;
  margin: 0px 500px;
  padding: 40px 50px;
  box-shadow: 8px 8px 4px rgb(180, 193, 255);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.fundraiser-name-div,
.email-id-div,
.ph-no-div,
.cause-div {
  padding-bottom: 20px;
}
#name {
  width: 300px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #3f3a813c;
  color: black;
}
#mail-input {
  width: 280px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #3f3a813c;
  color: black;
}
#phno {
  width: 225px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #3f3a813c;
  color: black;
}
select {
  font-size: 18px;
  width: 185px;
  color: black;
}
#otp {
  width: 50;
  margin-left: 80px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  border: 2px solid #3f3a813c;
  color: black;
}
.continue {
  margin-top: 20px;
  margin-left: 140px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: var(--toggle-color);
  background-color: var(--body-text-color);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.continue:hover {
  background-color: var(--primary-color);
}
/* main content  ends */