.contact:not(.nav a:hover) {
  border-bottom: 5px solid #695cfe;
}

/* main content */

.pin,
.add,
.email,
.phno {
  margin-bottom: 20px;
}
.address .pin {
  width: 50px;
  height: 50px;
}
.contain {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contain .address {
  display: flex;
  margin-top: 30px;
}
.contain #address-head,
#mail-head,
#phno-head {
  font-size: 22px;
  font-weight: bold;
}
.contain .main-txt {
  color: black;
  font-weight: 400;
}
.contain .add,
.email {
  margin-left: 55px;
}
.contain .phno {
  margin-top: 20px;
}
.map {
  margin: 40px;
}
/* .input {
  width: fit-content;
} */
.input .details {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}
.input {
  width: 50%;
  height: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 8px 8px 4px rgb(180, 193, 255);
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#name,
#email {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  /* border: 2px solid var(--primary-color); */
  text-align: center;
  outline: var(--body-text-color);
  color: black;
  font-size: 18px;
}
#email {
  margin-left: 50px;
}
#msg {
  width: 100%;
  height: 50%;
  /* border: 2px solid var(--primary-color); */
  text-align: center;
  outline: var(--body-text-color);
  color: black;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
}
.send {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: var(--toggle-color);
  background-color: var(--body-text-color);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.send:hover {
  background-color: var(--primary-color);
}
input[type="email"]:focus:valid {
  border: solid 2px green;
}
input[type="email"]:focus:invalid {
  border: solid 2px red;
}
input[type="text"]:focus:valid {
  border: solid 2px green;
}
input[type="text"]:focus:invalid {
  border: solid 2px red;
}
textarea:focus:valid {
  border: solid 2px green;
}
textarea:focus:invalid {
  border: solid 2px red;
}
/* main content ends */
@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 750px) {
  iframe {
    width: 500px;
  }
  ::placeholder {
    font-size: 14px;
  }
}
@media screen and (max-width: 520px) {
  iframe {
    width: 320px;
    height: 350px;
  }
}
