* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--body-text-color);
}

:root {
  --body-color: rgb(228, 233, 247);
  --header-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --body-text-color: #3f3a81;
}

body {
  height: 100%;
  background-color: var(--body-color);
}
.contact:not(.nav a:hover) {
  border-bottom: 5px solid #695cfe;
}

.hero-sec {
  margin-top: 80px;
  z-index: -1;
}
.pin,
.add,
.email,
.phno {
  margin-bottom: 20px;
}

.contain {
  padding: 90px 150px 0px;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
}
.address {
  display: flex;
}
#address-head,
#mail-head,
#phno-head {
  font-size: 22px;
  font-weight: bold;
}
.main-txt {
  font-size: 18px;
  color: black;
  font-weight: 400;
}
.add,
.email {
  margin-left: 55px;
}
.phno {
  margin-top: 20px;
}
.map {
  margin: 40px;
}
.input {
  margin: 10px 400px;
}

#name,
#email {
  width: 280px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  text-align: center;
  outline: var(--body-text-color);
  color: black;
  font-size: 18px;
}
#email {
  margin-left: 50px;
}
#msg {
  width: 615px;
  border: 2px solid var(--primary-color);
  text-align: center;
  outline: var(--body-text-color);
  color: black;
  font-size: 18px;
  border-radius: 10px;
}
.send {
  margin: 20px 250px 0px 250px;

  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: var(--toggle-color);
  background-color: var(--body-text-color);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.send:hover {
  background-color: var(--primary-color);
}
