* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--body-text-color);
}

:root {
  --body-color: rgb(228, 233, 247);
  --header-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --body-text-color: #3f3a81;
}

body {
  height: 100%;
  background-color: var(--body-color);
}

.paymentpage {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--body-text-color);
  border: 5px double#3f3a81;
  margin: 150px 600px 60px 600px;
}
.container {
  width: 700px;
  height: fit-content;
  background-color: white;
  margin: 0px 400px;
  box-shadow: 8px 8px 4px rgb(180, 193, 255);
  border-radius: 10px;
  box-sizing: border-box;
}
.card-details {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--body-text-color);
  border-bottom: 2px solid #3f3a81;
  margin: 20px 250px;
  padding-top: 20px;
}
.first-sec {
  display: flex;
  gap: 40px;
}
.name-txt {
  width: 350px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
label {
  color: var(--body-text-color);
  font-size: 16px;
  font-weight: 600;
}
select {
  height: 30px;
}
.cvv {
  width: 100px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.first-sec,
.second-sec,
.third-sec,
.donate-btn {
  margin: 20px 100px;
}
.num {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.num,
.donate-btn {
  width: 490px;
}
.third-sec {
  display: flex;
  gap: 165px;
}
.card-png {
  width: 50px;
  height: 50px;
  margin-top: 3px;
}
.donate-btn {
  height: 40px;
  margin-top: 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: var(--toggle-color);
  background-color: var(--body-text-color);
  border: none;
  border-radius: 10px;
}
.donate-btn:hover {
  background-color: var(--primary-color);
}
