/* main content */

.detailedinfo {
  text-align: center;
  font-size: 22px;
  font-weight: bold;

  color: var(--body-text-color);
  border: 5px double#3f3a81;
  margin: 110px 600px 60px 600px;
}
.container {
  width: 800px;
  height: fit-content;
  background-color: white;
  margin: 10px 350px 20px;
  padding: 40px 50px;
  box-shadow: 8px 8px 4px rgb(180, 193, 255);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
label {
  font-size: 18px;
  font-weight: 600;
}
.coverpic,
.doc-div {
  display: flex;
}
.image-div {
  background-color: var(--body-text-color);
  width: 20px;
  height: 20px;

  text-align: center;
  margin-left: 10px;
  border-radius: 2px;
  border: none;
}
.image-div:hover {
  background-color: #695cfe;
  border: none;
}
.gallery,
.document {
  margin-left: 20px;
}

#title {
  width: 595px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #3f3a813c;
  color: black;
  padding-top: 20px;
}
#name {
  width: 580px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #3f3a813c;
  color: black;
  padding-top: 20px;
}
#location {
  width: 560px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #3f3a813c;
  color: black;
  padding-top: 20px;
}
.stry-div,
.doc-div {
  margin-top: 20px;
}
#story {
  width: 650px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #3f3a8141;
  color: black;
  padding-top: 20px;
}
.upload {
  margin: 20px 300px 0px 300px;

  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: var(--toggle-color);
  background-color: var(--body-text-color);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.upload:hover {
  background-color: var(--primary-color);
}
/* main content style ends */