/* main content style starts */
.paymentpage {
  text-align: center;
  font-size: 22px;
  font-weight: bold;

  color: var(--body-text-color);
  border: 5px double#3f3a81;
  margin: 150px 600px 60px 600px;
}
.container {
  display: flex;
}
.bank-acc-details {
  width: 700px;
  height: 460px;
  background-color: white;
  margin: 0px 0px 0px 100px;

  box-shadow: 8px 8px 4px rgb(180, 193, 255);
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 20px;
}

.receiver-details-acc {
  width: 700px;
  height: 310px;
  background-color: white;
  margin: 80px 100px;
  box-shadow: 8px 8px 4px rgb(180, 193, 255);
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 20px;
}
.receiver-details-acc-head {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--body-text-color);
  border-bottom: 2px solid #3f3a81;
  margin: 0px 80px 0px;
  padding-top: 20px;
}
.receiver-acc {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  color: black;
}
.bank-acc-details-head {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--body-text-color);
  border-bottom: 2px solid #3f3a81;
  margin: 0px 250px 0px;
  padding-top: 20px;
}
.bank-name,
.acc-no,
.ifc-no,
.mob-no {
  margin: 20px 50px 20px 50px;
}
#Donate {
  width: 300px;
  margin: 20px 200px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--body-text-color);
  color: var(--toggle-color);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border: none;
}
#Donate:hover {
  background-color: var(--primary-color);
}
/* main content style ends */