/* main content style starts */
.paymentpage {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  width: 250px;
  color: var(--body-text-color);
  border: 5px double#3f3a81;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.bank-acc-details {
  width: 50%;
  height: fit-content;
  background-color: white;
  box-shadow: 8px 8px 4px rgb(180, 193, 255);
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 20px;
}

.receiver-details-acc {
  width: 30%;
  height: fit-content;
  background-color: white;
  box-shadow: 8px 8px 4px rgb(180, 193, 255);
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 20px;
}
.receiver-details-acc-head {
  display: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--body-text-color);
  border-bottom: 2px solid #3f3a81;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}
.receiver-acc {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  color: black;
}
.bank-acc-details-head {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--body-text-color);
  border-bottom: 2px solid #3f3a81;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}
.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}
input {
  width: 70%;
}
#Donate {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 40px;
  border-radius: 10px;
  background-color: var(--body-text-color);
  color: var(--toggle-color);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border: none;
  margin-bottom: 30px;
  margin-top: 20px;
}
#Donate:hover {
  background-color: var(--primary-color);
}
/* main content style ends */
@media screen and (max-width: 750px) {
  .input-div input {
    width: 50%;
  }
}
