/* main content style starts */
.fundraise:not(.nav a:hover) {
  border-bottom: 5px solid #695cfe;
}
.search {
  text-align: center;
  margin-top: 40px;
}
input[type="text"] {
  width: 500px;
  height: 50px;
  border-radius: 20px;
  border: solid rgba(105, 105, 255, 0.411);
}
button[type="submit"] {
  border: solid rgba(105, 105, 255, 0.411);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.donation {
  border: solid rgba(105, 105, 255, 0.411);
  background-color: #3f3a81;
  color: var(--toggle-color);
  border-radius: 5px;
  width: 120px;
  height: 50px;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}
.donation:hover {
  background-color: var(--primary-color);
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 20px;
}
.dropbtn {
  margin-left: 20px;
  height: 50px;
  width: 140px;
  background-color: var(--body-text-color);
  color: var(--toggle-color);
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  z-index: -1;
}
.dropbtn:hover {
  background-color: #695cfe;
}
.abc {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: var(--body-color);
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--primary-color);
  color: var(--toggle-color);
}

.box1 {
  width: 350px;
  height: 470px;
  background-color: white;

  box-shadow: rgb(180, 193, 255) 4px 4px 4px;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.box1:hover {
  box-shadow: rgb(140, 159, 255) 4px 4px 4px;
}

h4 {
  color: var(--body-text-color);
  display: flex;
  justify-content: center;
  margin: auto;
  /* padding-left: 35px;
  padding-bottom: 10px; */
}
.progress-sec {
  padding-left: 35px;

  height: 90px;
}
progress {
  width: 170px;
  height: 30px;
  color: #695cfe;
}
.amount {
  color: var(--body-text-color);
}
#cash {
  font-weight: bold;
}
.like {
  margin-left: 10px;
  margin-top: -15px;
}

.count {
  position: absolute;
  margin-top: -1px;
  margin-left: 60px;
}
.user {
  padding-left: 50px;
  padding-top: 10px;
  border-top: 2px solid #707070;
  margin: 10px 40px;
}
.user2 {
  padding-left: 50px;
  padding-top: 10px;
  border-top: 2px solid #707070;
  margin: -5px 40px;
}
.user3 {
  padding-left: 50px;
  padding-top: 10px;
  border-top: 2px solid #707070;
  margin: -5px 40px;
}
.image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 350px;
}
.container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box1-box2-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  gap: 50px;
}
.supporters-box {
  margin-top: 80px;

  overflow-y: scroll;
  width: 600px;
  height: 250px;
  background-color: white;
  box-shadow: rgb(180, 193, 255) 4px 4px 4px;
  border-radius: 10px;
  padding: 0px 20px;
}
.supporterhead {
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #3f3a81;
  width: 150px;
}
.supporter-name {
  font-weight: bold;
  margin: 20px;
}
.contribution {
  float: right;
  margin-right: 20px;
}

/* main content style ends */

@media screen and (max-width: 1200px) {
  .search {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .count {
    position: absolute;
    margin-top: -1px;
    margin-left: 70px;
  }
  input[type="text"] {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: solid rgba(105, 105, 255, 0.411);
  }
  button[type="submit"] {
    border: solid rgba(105, 105, 255, 0.411);
    border-radius: 5px;
    width: 100px;
  }
  .donation {
    border: solid rgba(105, 105, 255, 0.411);
    background-color: #3f3a81;
    color: var(--toggle-color);
    border-radius: 5px;
    width: 90px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
  }
  .dropbtn {
    height: 50px;
    width: 100px;
    background-color: var(--body-text-color);
    color: var(--toggle-color);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: -1;
    text-align: center;
    font-size: 12px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: var(--body-color);
    margin-left: -60px;
  }

  .box1-box2-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
  .supporters-box {
    margin-top: -30px;
    overflow-y: scroll;
    width: 600px;
    height: 250px;
    background-color: white;
    box-shadow: rgb(180, 193, 255) 4px 4px 4px;
    border-radius: 10px;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 1000px) {
  input[type="text"] {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: solid rgba(105, 105, 255, 0.411);
  }
  button[type="submit"] {
    border: solid rgba(105, 105, 255, 0.411);
    border-radius: 5px;
    width: 50px;
  }
  .donation {
    width: 70px;
    height: 50px;
  }
  .dropbtn {
    height: 50px;
    width: 80px;
  }
  .supporters-box {
    width: 400px;
    height: 250px;
  }
}
@media screen and (max-width: 780px) {
  .donation {
    width: 70px;
    height: 50px;
  }
  .dropbtn {
    width: 60px;
  }
  button[type="submit"] {
    width: 30px;
  }
  .supporters-box {
    width: 300px;
    height: 250px;
    margin-top: 30px;
  }
  .box1-box2-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
}
