.bannersec {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -400px;
  /* position: fixed; */
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63);
}
.button {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 40%;
  margin-top: -150px;
  margin-right: 35pc;
}
#log-in {
  width: 100%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
