.donate {
  border-bottom: 5px solid #695cfe;
}
/* main content style starts */
.content {
  margin-top: 110px;
  margin-left: 200px;
  width: 600px;
  height: fit-content;
  margin-bottom: 90px;
  background-color: #dddaff;
  border-radius: 10px;
}
.image {
  width: 500px;
  box-shadow: #847bff 4px 4px 4px;
  margin-left: 50px;
  border-radius: 10px;
}
h4 {
  margin-left: 55px;
  font-size: 25px;
  /* margin-bottom: 20px; */
  padding: 20px 0px;
  color: var(--body-text-color);
}
.progress-sec {
  margin-top: 20px;
  margin-left: 60px;
}
#percent {
  margin-bottom: -30px;
}
progress {
  width: 280px;
  height: 30px;
  margin-left: 60px;
}
.like {
  margin-left: 100px;
  cursor: pointer;
}
.count {
  margin-left: 75px;
}
.overall {
  display: flex;
}
.story-btn {
  font-weight: bold;
  margin-left: 250px;
  font-size: 18px;

  display: inline-block;
  color: var(--body-text-color);
  width: 100px;
  padding: 0px 10px;
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px solid #3f3a81;
}
.story {
  padding: 10px 40px;
  width: 600px;
  height: auto;
  font-size: 18px;
  color: black;
}
.viewmore {
  text-align: center;
}
#mybtn {
  background-color: var(--primary-color);
  border: none;
  color: var(--toggle-color);
  font-weight: bold;
  font-size: 18px;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

#mybtn:hover {
  background-color: #3f3a81;
}

.amount {
  font-size: 18px;
  padding-top: 10px;
}
.user {
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid #3f3a81;
  margin: 20px 200px;
}
.more {
  display: inline;
}
.view {
  display: none;
}
.upi-container {
  display: flex;
  flex-direction: column;
}
.upi-box {
  background-color: #dddaff;
  display: inline-block;

  width: 500px;
  height: 640px;
  padding: 20px 50px;
  border-radius: 10px;
  text-align: center;

  margin-top: 110px;
  margin-left: 50px;
}
.upi-head {
  font-size: 18px;
  color: var(--body-text-color);
  text-align: center;
}
#first-head {
  font-weight: bold;
  padding-right: 170px;
}
.donate-btn-sec {
  margin: 30px 0px 20px 0px;
}
.donate-btn {
  background-color: var(--primary-color);
  border: none;
  width: 150px;
  height: 40px;
  color: var(--toggle-color);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.donate-btn:hover {
  background-color: #3f3a81;
}
.card-detail {
  opacity: 0.5;
}
.qr-img {
  margin: 20px 0px;
}
.img-qr {
  margin-top: -10px;
}
.upi-down-txt {
  opacity: 0.5;
}
.chat-box {
  background-color: #dddaff;
  height: fit-content;
  width: 500px;
  margin-left: 50px;
  margin-top: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}
.chat-head {
  text-align: center;
  margin: 10px 180px 0px 180px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #3f3a81;
}
.chat-message {
  margin: 5px 20px;
}

.chat-history {
  height: 500px;
  padding: 8px 24px;
}
.content-supporter-container {
  display: flex;
  flex-direction: column;
}
.supporters-box {
  margin-top: -60px;
  margin-left: 200px;
  overflow-y: scroll;
  width: 600px;
  height: 250px;
  /* height: 200px; */
  background-color: #dddaff;
  border-radius: 10px;
  padding: 0px 20px;
}
.supporterhead {
  text-align: center;
  margin: 10px 210px 10px 210px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #3f3a81;
}
.supporter-name {
  font-weight: bold;
  margin: 20px;
}
.contribution {
  float: right;
  margin-right: 20px;
}
.img-qr {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.gpay {
  margin-top: 25px;
}

/* main content style ends */
