.donate {
  border-bottom: 5px solid #695cfe;
}
/* main content style starts */
/* .overall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
} */
.content-supporter-container {
  display: flex;
  flex-wrap: nowrap;
  /* width: fit-content; */
  flex-direction: row;
  justify-content: center;
  /* width: 1200px; */
  /* background-color: #695cfe; */
}
.content {
  margin-top: 50px;
  /* margin-left: 200px; */
  width: 40%;
  height: fit-content;
  margin-bottom: 90px;
  background-color: #dddaff;
  border-radius: 10px;
}
.image {
  width: 50%;
  box-shadow: #847bff 4px 4px 4px;
  margin-left: 50px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 23px;

  text-align: center;

  color: var(--body-text-color);
}
.progress-sec {
  margin-top: 20px;
  margin-left: 60px;
}
/* #percent {
  margin-bottom: -30px;
} */
.progressdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#percent {
  color: var(--body-text-color);
  font-weight: bolder;
  font-size: 18px;
}
progress {
  width: 40%;
  height: 30px;
  margin-left: 10px;
}
.like {
  margin-left: 10px;
  cursor: pointer;
}
.count {
  position: absolute;
  /* margin-left: 75px; */
  left: 70%;
  display: none;
}

.story-btn {
  font-weight: bold;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--body-text-color);
  width: 100px;
  padding: 0px 10px;
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px solid #3f3a81;
}
.story {
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 18px;
  color: black;
  text-align: center;
}
.viewmore {
  text-align: center;
}
.name-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mybtn {
  background-color: var(--primary-color);
  border: none;
  color: var(--toggle-color);
  font-weight: bold;
  font-size: 18px;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

#mybtn:hover {
  background-color: #3f3a81;
}

.amount {
  font-size: 18px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.user {
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid #3f3a81;
  /* margin: 20px 200px; */
  width: 150px;
  margin: auto;
  margin-top: 20px;
}
#more {
  display: none;
  color: black;
  font-size: 18px;
}
#document {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: none;
}
.view {
  display: none;
}

.upi-box {
  background-color: #dddaff;
  display: inline-block;
  width: 30%;
  height: fit-content;
  padding: 20px 50px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
}
.upi-head {
  font-size: 18px;
  color: var(--body-text-color);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#first-head {
  font-weight: bold;
  /* padding-right: 170px; */
}
.donate-btn-sec {
  margin: 30px 0px 20px 0px;
}
.donate-btn {
  background-color: var(--primary-color);
  border: none;
  width: 80%;
  height: 40px;
  color: var(--toggle-color);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.donate-btn:hover {
  background-color: #3f3a81;
}
.card-detail {
  opacity: 0.5;
}
.qr-img {
  margin: 20px 0px;
}
.img-qr {
  margin-top: -10px;
}
.upi-down-txt {
  opacity: 0.5;
}
.chat-box {
  background-color: #dddaff;
  height: fit-content;
  width: 30%;
  /* margin-left: 50px;
  margin-top: -150px; */
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}
.chat-head {
  text-align: center;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #3f3a81;
}

.chat-message {
  margin: 5px 20px;
}

.chat-history {
  height: 500px;
  padding: 8px 24px;
}

.supporters-box {
  overflow-y: scroll;
  width: 40%;
  height: 250px;
  background-color: #dddaff;
  border-radius: 10px;
  padding: 0px 20px;
}

.supporterhead {
  text-align: center;
  margin: 10px 210px 10px 210px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #3f3a81;
}
.supporter-name {
  font-weight: bold;
  margin: 20px;
}
.contribution {
  float: right;
  margin-right: 20px;
}
.img-qr {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.gpay {
  margin-top: 25px;
}
#qr {
  width: 50%;
  height: 50%;
}

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  gap: 50px;
}

fieldset {
  width: 100%;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -18;
}
#msg {
  width: 90%;
  text-align: center;
  height: 40px;
  margin-left: -15px;
}
#editinput {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-left: 17px;
  height: 40px;
  /* margin-bottom: -46px; */
}

#msg_content {
  display: flex;
  flex-direction: row;
  width: 80%;
  /* justify-content: space-evenly; */
}
.editdeldiv {
  display: flex;
  margin-top: -7%;
  margin-left: 80%;
  gap: 8px;
}

#editfieldset {
  display: none;
}
#editfieldset.active {
  display: block;
}

/* main content style ends */
@media screen and (max-width: 1200px) {
  .content-supporter-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    width: 60%;
  }
  .upi-box {
    width: 50%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  h4 {
    font-size: 18px;
  }
  .second-container {
    flex-direction: column;
    margin: 0px;
    margin-top: 50px;
  }
  .chat-box {
    width: 50%;
  }
  .supporters-box {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .content-supporter-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    width: 80%;
  }
  .upi-box {
    width: 70%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  #qr {
    width: 58%;
  }
  h4 {
    font-size: 16px;
  }
  .chat-box {
    width: 60%;
  }
  .supporters-box {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  #qr {
    width: 60%;
  }
  .content {
    width: 90%;
  }
  .upi-box {
    width: 90%;
  }
  .chat-box {
    width: 90%;
  }
  .supporters-box {
    width: 90%;
  }
}
