* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--body-text-color);
  font-size: 102%;
}

:root {
  --body-color: rgb(228, 233, 247);
  --header-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --body-text-color: #3f3a81;
}

body {
  height: fit-content;
  background-color: var(--body-color);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
